html,
body {
    font: 16px "Source Sans Pro", sans-serif;
    background: yellow;
}

a {
    margin: 12px;
    text-decoration: none;
}

#profile {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-links {
    margin-top: 12px;
}
